{
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "plugins": [
      "react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true,
          "modules": true
        }
    },
    "globals": {
        "jest": true,
        "import": true,
        "expect": true,
        "it": true,
        "context": true,
        "describe": true
    }
}